{% extends 'base.html' %}
{% load humanize %}

{% block content %}
<h1 class="mt-3">Panier d'achats</h1>

{% if order %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Voyage</th>
      <th scope="col">Quantité</th>
      <th scope="col">Prix</th>
    </tr>
  </thead>
  <tbody>
    {% for product in order.travels.all %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ product.travel }}</td>
      <td>{{ product.quantity }}</td>
      <td>{{ product.get_total_travel_price|intcomma }} $</td>
    </tr>
    {% endfor %}
    <td colspan="3"><b>Prix total</b></td>
    <td><b>${{ order.get_total|intcomma }} $</b></td>

  </tbody>
</table>
{% else %}
<p>Il n'y a aucun voyage dans votre panier</p>
{% endif %}
{% endblock content %}