{% extends 'base.html' %}

{% load humanize %}

{% block content %}
  <!--Grid row-->
  <div class="row wow fadeIn mt-3">

    <!--Grid column-->
    <div class="col-md-6 mb-4">

      <img src="{{ travel.destination.picture.url }}" class="img-fluid" alt="{{ travel.slug }}">

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-6 mb-4">

      <!--Content-->
      <div class="p-4">

        <div class="mb-3">
          <a href="">
            <span class="badge purple mr-1">{{ travel.destination.get_country_display }}</span>
          </a>
        </div>

        <p class="lead">
          <!--<span class="mr-1">
            <del>$200</del>
          </span> -->
          <span>{{ travel.price|intcomma }} $</span>
        </p>

        <p class="lead font-weight-bold">Description</p>

        <p>{{ travel.destination.description }}</p>

        <form class="d-flex justify-content-left" method="POST" action="{% url 'cart' %}">
          {% csrf_token %}
          <input type="number" value="1" aria-label="Search" class="form-control" style="width: 100px" name="quantity">
          <input type="hidden" value="{{ travel.slug }}" name="travel_slug">
          <button class="btn btn-primary btn-md my-0 p" type="submit">Ajouter au panier
            <i class="fas fa-shopping-cart ml-1"></i>
          </button>

        </form>

      </div>
      <!--Content-->

    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->
{% endblock content %}

